<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h3><%= lists.title %></h3>
        <hr>
        <p><%= lists.body %></p>
        <form action="/lists/<%= lists.id %>"  method="post">
          <input type="hidden" class="form-control" name="_method" value ="put" />
          <div class="form-group">
            <input type="hidden" class="form-control" name="id" value ="<%= lists.id %>" />
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" name="title" value = "<%= lists.title %>" />
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" name="body" value = "<%= lists.body %>" />
          </div>
          <div class="form-group" >
            <input type="checkbox" value = "true"  name= "done" > Mark as Done
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
